*{
    box-sizing: border-box;
    margin: 0 auto;
    background-color: white;
}
/* conteiner build rulez */
#conteiner{
    width: 80%;
    margin: 0 auto;
}

.mainlogo {
    height: 80px ;
    line-height: 100%;
    vertical-align:middle;
}

.logotext{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100%;
    vertical-align:middle;
}

/* nav build rulez */
.conteiner-button{
margin: 0 auto;
text-align: center;
background-color:rgba(235, 229, 229,0.5);
border-radius: 50px;
width: 80%;
padding:30px;
}

.conteiner-button > button{
    text-align: center;
    font-size:20px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

  .conteiner-blue{
    background-color: rgba(13, 87, 172, 0.863);
    color: white;
}

  .conteiner-white{
    color: lightgray;
} 

  /* add rulez main */

  .rowitem{
    font-family: Arial, Helvetica, sans-serif;
    
    
    text-align: center;
    margin:0 auto;
    width: 80%;
    color: rgba(0, 0, 0, 0.849);
}




